/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_27_2_26,_10_10_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_27_2_26,_10_10_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_27_2_26__10_10__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_27_2_26,_10_10_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_27_2_26,_10_10_[Changes]1/shelved.patch
